%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  .container-fluid
    %a.navbar-brand{:href => "/"} P Jira

  %div
    .navbar-brand
      = username
    = link_to 'logout', logout_url

- if flash[:notice].present?
  .alert.alert-primary{style: 'margin-top: 80px'}=flash[:notice]

